[submodule "assignments/elzero-HTML-assignments"]
	path = assignments/elzero-HTML-assignments
	url = https://github.com/abdsydev/elzero-HTML-assignments.git
[submodule "assignments/elzero-CSS-assignments"]
	path = assignments/elzero-CSS-assignments
	url = https://github.com/abdsydev/elzero-CSS-assignments.git
[submodule "assignments/elzero-JavaScript-assignments"]
	path = assignments/elzero-JavaScript-assignments
	url = https://github.com/abdsydev/elzero-JavaScript-assignments.git
