/* Fonts */
@import url("/assets/fonts/ibmplexsansarabic/ibmplexsansarabic.css");

/* Global Rules */
:root {
  /* Colors */
  --b-900: #293980;
  --b-700: #394fb3;
  --b-500: #5271ff;
  --b-300: #869cff;
  --b-200: #bac6ff;
  --b-100: #eef1ff;
  --light: #fff;
  --dark: #123;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "IBMPlexSansArabic";
}

html {
  direction: rtl;
}

body {
  background-color: var(--light);
  background-image: url("/assets/image/0101-BG.svg");
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100svh;
}

a {
  text-decoration: none;
  color: var(--b-500);
}

/* container start */
.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
/* container end */

/* header start */
.header {
  max-width: 100%;
  .headerContent {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* navbar start */
    .navbar {
      .navLinks {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .navLink {
          font-size: 20px;
          font-weight: 500;
          color: var(--dark);
          opacity: 0.5;
          transition: 0.3s linear opacity, 0.3s linear color;
          &:hover {
            color: var(--b-500);
            opacity: 1;
          }
        }
      }
    }
    /* navbar end */
  }
}
/* header end */
